#입력과 출력

## page1

In [ ]:
print(3+4)
Print(3+4)
PRINT(3+4)

In [ ]:
value = 1234
print(value)
print(value + 100)

1234
1334

In [ ]:
print(3 +4)
4 * 5
a = 1
b = 2
print(a +b)

7
3

In [ ]:
a =  '강아지'
b = '고양이'
print(a)
print(b)

강아지
고양이

In [ ]:
print('*       *')
print(' *     *')
print('  *   *')
print('   * *')
print('    *')

*       *
 *     *
  *   *
   * *
    *

In [ ]:
a = '강아지'
b = '고양이'
print(a, end = '')
print(b)

강아지, 고양이

In [ ]:
print(34, end = '^^')
print(78)

34^^78

In [ ]:
a = 12
b = 34
print(a, b)

12 34

## page2

In [ ]:
a = 12
b = 34
print(a, b, sep = ',')

12,34

In [ ]:
s = '서울'
d = '대전'
g = '대구'
b = '부산'
print(s, d, g, b, sep = ' 찍고 ', end = ' 찍고')

서울 찍고 대전 찍고 대구 찍고 부산 찍고

In [ ]:
print(12, 34, 56, sep ='^^', end ='-->')
print(78)

12^^34^^56-->78

In [ ]:
a = 13
b = 21
print(a, b)
print(a, b, sep ='')
print(a, b, end ='')

13 21
1321
13 21

In [ ]:
age = input('몇 살이세요? ')
print(age,'세', sep ='')

몇 살이세요? 5
5세

In [ ]:
name = input('이름을 입력: ')
print('안녕하세요', name+'님!')

이름을 입력: 다우
안녕하세요 다우님!

In [ ]:
a = input('첫 번째 과일 입력: ')
b = input('두 번째 과일 입력: ')
print(a+'와(과)', b+'은(는) 내가 좋아하는 과일이다.')

첫 번째 과일 입력: 탈귀
두 번째 과일 입력: 에규
탈귀와(과) 에규은(는) 내가 좋아하는 과일이다.

In [ ]:
year = input('몇 년도? ')
month = input('몇 월? ')
day = input('몇 일? ')
print(year, '.', month, '.', day)

몇 년도? 2032
몇 월? 4
몇 일? 23
2032 . 4 . 23

In [ ]:
age = input('몇 살이세요? ')
print(age + age)

몇 살이세요? 13
1313

In [ ]:
print(type('안녕하세요'))
print(type(273))
print(type(3.141592))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
36

## page3

In [ ]:
age = input('몇 살이세용? ')
age = int(age)
print(age + age)

몇 살이세용? 12
24

In [ ]:
price = input('가격을 입력하세요: ')
num = input('개수를 입력하세요: ')
price = int(price)
num = int (num)
print('총액은', sum,'원입니다.')

가격을 입력하세요: 100
개수를 입력하세요: 5
총액은 500 원입니다.

In [ ]:
width = int(input('사각형의 가로 '))
height = int(input('사각형의 세로 '))
print('사각형의 면적은 ', width * height, '입니다.', sep = '')

사각형의 가로5
사각형의 세로10
사각형의 면적은 50입니다.

In [ ]:
name = input('이름? ')
year = int(input('태어난 해는? '))
print(name, ' 님의 나이는 ', 2023 - year,'세 입니다.')

이름? 다우
태어난 해는? 2006
다우  님의 나이는  17 세 입니다.

In [ ]:
cos = int(input('물건의 가격은?: '))
num = int(input('물건 구매 개수?: '))
tot = int(input('지불한 돈?: '))
print('거스름돈은', tot - num * cos, '원 입니다.')

물건의 가격은?: 500
물건 구매 개수?: 4
지불한 돈?: 5000
거스름돈은 3000 원 입니다.

##page4

In [ ]:
score = 100
print(score)
print(type(score))

100
<class 'int'>

In [ ]:
점수 = 'high'
print(점수)
print(type(점수))

high
<class 'str'>

##page5

In [ ]:
num = 123456789
print(num)
print(type(num))

123456789
<class 'int'>

In [ ]:
num = -20909
print(num)
print(type(num))

-20909
<class 'int'>

In [ ]:
a = 1.5
b = -3.5
print(a, b)
print(type(a), type(b))

1.5 -3.5
<class 'float'> <class 'float'>

In [ ]:
x = 3.3764
y =6/2
print(x, y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [ ]:
a = "Korea 서울 1234"
print(a)
print(type(a))

Korea 서울 1234
<class 'str'>

In [ ]:
a = 30
print(a)
print(type(a))

b = '30'
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [ ]:
a = 5
b = a==5
print(b)

True

In [ ]:
if a==5:
    print('a는 5')

a는 5

##page6

In [ ]:
a = input('첫번째숫자를입력하세요: ')
b = input('두번째숫자를입력하세요: ')
c = int(a) + int(b)
print(c)

첫번째숫자를입력하세요: 1
두번째숫자를입력하세요: 2
3

In [ ]:
inch = float(input('인치를 입력하세요: '))
print('센치미터: ', inch * 2.54, 'cm', sep='')

인치를 입력하세요: 3.5
센치미터: 8.89cm

In [ ]:
r = int(input('반지름은?: '))
roun = 2 * r * 3.14
area = r * r * 3.14
print(f'반지름이 {r}인 원의 둘레는 {roun: .2f}이고, 면적은 {area}이다.')

반지름은?: 7
반지름이 7인 원의 둘레는  43.96이고, 면적은 153.86이다.

In [ ]:
hight = int(input("현재 키는?: "))
goul = float(input("5개월 후의 목표 키는? "))
ave = (goul - hight) / 5
print(f"한달에 {ave: .1f}cm씩 성장해 보세요!")

현재 키는?: 160
5개월 후의 목표 키는? 168
한달에  1.6cm씩 성장해 보세요!

In [ ]:
booook = int(input("책 값: "))
discount = float(input("할인율(%)"))
delivery = int(input("배송비: "))
total = booook - (booook / discount) + delivery
print(f"결재하실 금액은 {total:.1f}원 입니다.")

책 값: 3000
할인율(%)10
배송비: 3000
결재하실 금액은 5700.0원 입니다.

In [ ]:
fir = float(input("첫 번째 과목"))
sec = float(input("두 번째 과목"))
ave = (fir + sec) / 2
print("합계: ", fir + sec, "평균", ave)

첫 번째 과목86
두 번째 과목90
합계:  176.0 평균 88.0