##31page

In [1]:
#1
s = "python"
print(s[0])
print(s[-1])

p
n

In [67]:
#2
# ps = "python"
# print(s[10])

In [6]:
#3
s1 = input("첫번 째 문자열: ")
s2 = input("두번 째 문자열: ")
s3 = input("세번 째 문자열: ")

if s1[-1]==s2[0] and s2[-1]==s3[0]:
  print("good")
else:
  print("bed")

첫번 째 문자열: asf
두번 째 문자열: fsdaf
세번 째 문자열: sds
bed

In [8]:
#4
s = "python"
for i in range(6):
  print(s[i], end=',')

p,y,t,h,o,n,

In [12]:
#5
number = input('하이븐(-)을 포함한 휴대폰 번호를 입력하세요:')

for i in range(13):
  if number[i]!='-' :
    print(number[i], end='')

하이븐(-)을 포함한 휴대폰 번호를 입력하세요:010-5714-9509
01057149509

In [14]:
#6
s = "python"
print(len(s))
n = "여섯글자이다"
print(len(n))

6
6

In [17]:
#7
sentence = input("문자열 입력:")
for i in range(len(sentence)):
  if sentence[i] == 't':
    print(i+1)

문자열 입력:test
1
4

In [24]:
#8
sentence = input("문장을 입력해 주세요:")
i=len(sentence)
while i>0:
  print(sentence[i-1], end='')
  i-=1

문장을 입력해 주세요:Enjoy everyone!
!enoyreve yojnE

##32page

In [27]:
#9
data = input("문자열 입력:")
for i in range(len(data)-1):
  print(data[i], data[i+1], sep='')

문자열 입력:pyton
py
yt
to
on

In [29]:
#10
s = "python"
print(s[2:5])
print(s[3:])
print(s[:4])
print(s[2:-2])
print(s[-2:])

tho
hon
pyth
th
on

In [33]:
#11
s = "차종: 코란도C, 제조사: 쌍용, 배기량: 1988"
print(s[15:17])

쌍용

In [37]:
#12
file = "20210505-104830.jpg"
print("촬영 날짜:" + file[4:6] + "월" + file[6:8] + "일")
print("촬영 시간:" + file[9:11] + "시" + file[11:13] + "분")
print("확장자:" + file[-3:])

촬영 날짜:05월05일
촬영 시간:10시48분
확장자:jpg

In [39]:
#13
yoil = "월화수목금토일"
print(yoil[::2])
print(yoil[::-1])

월수금일
일토금목수화월

In [45]:
#14
jumin = "901231-1914983"
year = jumin[:2]
if jumin[7] == '1' or jumin[7] == '3':
  sung = '남자'
else :
  sung = '여자'
print(year + "년생" + sung + "입니다.")

90년생남자입니다.

In [49]:
#15
a = "10 20 30 40 50"
print(a.split())
b = "나는 서울로봇고 2학년이야."
print(b.split())

['10', '20', '30', '40', '50']
['나는', '서울로봇고', '2학년이야.']

##33page

In [51]:
#16
a = "a:b:c:d"
print(a.split(':'))

['a', 'b', 'c', 'd']

In [54]:
#17
BTS = "정국, 진, 뷔, 슈가, 지민, RM, 제이홉"
BTS_member = BTS.split(', ')
print("방탄 멤버:", BTS_member)
for i in range(7):
  print(BTS_member[i], "사랑해!")

방탄 멤버: ['정국', '진', '뷔', '슈가', '지민', 'RM', '제이홉']
정국 사랑해!
진 사랑해!
뷔 사랑해!
슈가 사랑해!
지민 사랑해!
RM 사랑해!
제이홉 사랑해!

In [52]:
#18
import array
file_names = ["file1.py", "file2.txt", "file3.pptx", "file4.doc"]
for file_name in file_names:
  arr = file_name.split(".")
  print(f'{file_name:11}=> 파일명:{arr[0]}, 확장자:{arr[1]}')

file1.py   => 파일명:file1, 확장자:py
file2.txt  => 파일명:file2, 확장자:txt
file3.pptx => 파일명:file3, 확장자:pptx
file4.doc  => 파일명:file4, 확장자:doc

In [65]:
#19
sen = input("문자열 입력:")
a = sen.split()
for wor in a:
  print(wor[0], end = '')

문자열 입력:복잡한 세상 편하게 살자
복세편살

In [68]:
#20
print(",".join('abcd'))
print("::".join(["1", "2", "3", "4", "5"]))

a,b,c,d
1::2::3::4::5