In [ ]:
#16p. ex) 1

count = 0

while count < 3 :
    print("안녕하세요")
    count+=1

안녕하세요
안녕하세요
안녕하세요

In [ ]:
#16p. ex) 2

student = 1

while student <= 3 :
  print(student, "번 학생의 성적을 처리한다.")
  student+=1

1 번 학생의 성적을 처리한다.
2 번 학생의 성적을 처리한다.
3 번 학생의 성적을 처리한다.

In [ ]:
#16p. ex) 3

student = 1

while student <= 100 :
  print(student, "번 학생의 성적을 처리한다.")
  student+=1

In [ ]:
#16p. ex) 4

dan = int(input("원하는 단은? "))
i = 1

while i <= 9:
  print(dan, "*", i, "=", dan*i)
  i+=1

원하는 단은? 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
#16p. ex) 5-1

sum = 0
i = 1

while i <= 10:
  sum+=i
  print("i의 값:", i, "=> 합계: ", sum)
  i+=1

i의 값: 1 => 합계:  1
i의 값: 2 => 합계:  3
i의 값: 3 => 합계:  6
i의 값: 4 => 합계:  10
i의 값: 5 => 합계:  15
i의 값: 6 => 합계:  21
i의 값: 7 => 합계:  28
i의 값: 8 => 합계:  36
i의 값: 9 => 합계:  45
i의 값: 10 => 합계:  55

In [ ]:
#16p. ex) 5-2

sum = 0
i = 10

while i <= 20:
  sum+=i
  print("i의 값:", i, "=> 합계: ", sum)
  i+=1

i의 값: 10 => 합계:  10
i의 값: 11 => 합계:  21
i의 값: 12 => 합계:  33
i의 값: 13 => 합계:  46
i의 값: 14 => 합계:  60
i의 값: 15 => 합계:  75
i의 값: 16 => 합계:  91
i의 값: 17 => 합계:  108
i의 값: 18 => 합계:  126
i의 값: 19 => 합계:  145
i의 값: 20 => 합계:  165

In [ ]:
#16p. ex) 6

num = 151
sum = 0

while num <= 300:
  sum+=num
  num+=2

print("sum =", sum)

sum = 16875

In [ ]:
#16p. ex) 6

print("-" * 15)
print("  섭씨  화씨")
print("-" *15)

c = -5     #섭씨온도

while c <= 5 :
  f = c * 9.0 / 5.0 +32.0     #화씨온도
  print("%5d  %5.1f" %(c, f))
  c += 1
print("-" *15)

---------------
  섭씨  화씨
---------------
   -5   23.0
   -4   24.8
   -3   26.6
   -2   28.4
   -1   30.2
    0   32.0
    1   33.8
    2   35.6
    3   37.4
    4   39.2
    5   41.0
---------------

In [ ]:
fac = 10
mult = 1

while fac > 0 :
  mult *= fac
  fac -= 1

print("10! =", mult)

10! = 3628800