##26page

In [ ]:
#36
scores = []
for i in range(5) :
  score = int(input("성적 입력: "))
  scores.append(score)
  sum += score
avg = sum / 5.0

print(scores)
print("총점은", sum, "이고, 평균은", avg, "입니다.")

성적 입력: 59
성적 입력: 66
성적 입력: 76
성적 입력: 82
성적 입력: 79
[59, 66, 76, 82, 79]
총점은 79 이고, 평균은 15.8 입니다.

In [ ]:
#37
numbers = [7, 9, 15, 18, 30, -3, 7, 12, -16, -12]
sum = 0
i = 0
print("짝수 번째 요소 :", end='')

while i < len(numbers) :
  if i%2 == 0:
    numbers.pop(i)
  i+=1
i = 0;
for i in range(len(numbers)):
  print(numbers[i], end = ' ')
print("\n합계 :", sum)

짝수 번째 요소 :9 15 30 -3 12 -16
합계 : 0

In [ ]:
#38
from types import GenericAlias
s = [64, 89, 100, 85, 77, 58, 79, 67, 96, 87, 87, 36, 82, 98, 84, 76, 63, 69, 53, 22]

soo = 0
woo = 0
mi = 0
yang = 0
ga = 0

i = 0
while i < len(s):
  if s[i] >= 90:
    soo += 1
  elif s[i] >= 80:
    woo += 1
  elif s[i] >= 80:
    mi += 1
  elif s[i] >= 80:
    yang += 1
  else:
    ga += 1
  i+=1
print("수 :", soo)
print("우 :", woo)
print("미 :", mi)
print("양 :", yang)
print("가 :", ga)

수 : 3
우 : 6
미 : 0
양 : 0
가 : 11

In [ ]:

#39numbers = [[10, 20, 30], [40, 50, 60]]
print(numbers[0])
print(numbers[1])

for i in range(2):
  for j in range(3):
   print(numbers[i][j], end=" ")
  print()

[10, 20, 30]
[40, 50, 60]
10 20 30
40 50 60

In [ ]:
#40
numbers = [[10, 20, 30], [40, 50, 60, 70, 80, 90]]

for i in range(len(numbers)):
  for j in range(len(numbers[i])):
   print(numbers[i][j], end=" ")
  print()

10 20 30
40 50 60 70 80 90

In [ ]:
#41
numbers = [[10, 20, 30], [40, 50, 60, 70, 80]]

for i in range(len(numbers)):
  for j in range(len(numbers[i])):
   print(numbers[i][j], end=" ")
  print()

10 20 30
40 50 60 70 80

In [ ]:
#42
data = [[10, 20], [40, 50], [60, 70], [80, 90]]

for i in range(len(data)):
  for j in range(len(data[i])):
   print('data[%d][%d] = %s' %(i, j, data[i][j]))

data[0][0] = 10
data[0][1] = 20
data[1][0] = 40
data[1][1] = 50
data[2][0] = 60
data[2][1] = 70
data[3][0] = 80
data[3][1] = 90

In [ ]:
#43
strings = [["원두커피", "라떼", "콜라"], ["우동", "국수", "피자", "파스타"]]
print(len(strings))
print(len(strings[0]))
print(len(strings[1]))

for i in range(len(strings)):
  for j in range(len(strings[i])):
   print('%s' %strings[i][j], end=" ")
  print()

2
3
4
원두커피 라떼 콜라
우동 국수 피자 파스타

In [ ]:
#44
numbers = [[10, 20, 30], [40, 50], [60, 70, 80, 90]]

print(numbers)
for i in range(len(numbers)):
   print(numbers[i][0])

[[10, 20, 30], [40, 50], [60, 70, 80, 90]]
10
40
60

In [ ]:
#45
score = [
    [88, 76, 92, 98],
    [65, 70, 58, 82],
    [82, 80, 70, 88]
]

total = 0
totalsub = 0
for stu in score:
  sum += 0
  for s in stu:
    sum += s
  subjects = len(stu)
  print("총점 : ", sum, "평균 :", sum/subjects)
  total += sum
  totalsub += subjects
print("전체평균: ",total/totalsub)

총점 :  1303 평균 : 325.75
총점 :  1578 평균 : 394.5
총점 :  1898 평균 : 474.5
전체평균:  398.25

In [ ]:
#46
seats = [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],\
         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],\
         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],\
         [1, 1, 1, 0, 0, 0, 0, 0, 1, 0],\
         [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],\
         [0, 1, 0, 0, 0, 1, 0, 1, 0, 0],\
         [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],\
         [1, 0, 1, 0, 0, 0, 0, 0, 0, 1],
        ]

for i in range(len(seats)):
  for j in range(len(seats[i])):
    if seats[i][j] == 0:
      print('%3s' % '□', end = '')
    else:
      print('%3s' % '■', end = '')
  print()
print('\n※  예약 가능: ■, 예약 불가: □')

  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  ■  ■  ■  □  □  □  □  □  ■  □
  □  □  □  □  □  ■  □  □  □  □
  □  ■  □  □  □  ■  □  ■  □  □
  □  □  □  □  □  □  ■  □  □  □
  ■  □  ■  □  □  □  □  □  □  ■

※  예약 가능: ■, 예약 불가: □