##page11

In [ ]:
a = int(input("a입력: "))
b = int(input("b입력: "))

if a == 3 and b == 4 :
    print("OK")
if a == 3 or b == 4 :
    print("Okay")

a입력: 3
b입력: 4
OK
Okay

In [ ]:
x = int(input("숫자입력: "))  #18페이지

if x > 10 and x % 2 == 0 :
    print("10초과 짝수")

숫자입력: 18
10초과 짝수

In [ ]:
x = int(input("필기 성적 입력: "))
y = int(input("실기 성적 입력: "))

if x >= 80 and y >= 80 :
    print("합격")
else:
    print("불합격")

필기 성적 입력: 50
실기 성적 입력: 50
불합격

In [ ]:
year = int(input("몇살 이세요? "))

if 0 <= year < 7 or 65 <= year :
    print("입장료는 무료입니다")
else:
    print("입장료는 3000원 입니다")

몇살 이세요? 3
입장료는 무료입니다

In [ ]:
year = int(input("나이: "))
hight = int(input("키: "))

if 10 <= year and 150 >= hight :
    print("놀이기구를 탈 수 있다.")
else:
    print("노링기구를 탈 수 없다.")

나이: 10
키: 150
놀이기구를 탈 수 있다.

In [ ]:
id = str(input("아이디를 입력하세요: "))
level = int(input("회원 레벨을 입력하세요: "))

if id == "admin" or level == 1 :
    print("관리자 입니다.")
else:
    print("관리자가 아닙니다.")

아이디를 입력하세요: admin
회원 레벨을 입력하세요: 3
관리자 입니다.

In [ ]:
num = int(input("정수를 입력하세요: "))

if 1 <= num <=100 :
    print(num, "은(는) 1~100 사이에 있다.")
else:
    print(num, "은(는) 1~100 사이에 없다.")

정수를 입력하세요: 3
3 은(는) 1~100 사이에 있다.

In [ ]:
month = 3

if 3 <= month <= 5 :
    print("현재는 봄입니다.")
elif 6 <= month <= 8 :
    print("현재는 여름입니다.")
elif 9 <= month <= 11 :
    print("현재는 가을입니다.")
else :
    print("현재는 겨울입니다.")

현재는 봄입니다.

##page12

In [ ]:
cost = int(input("구매 금액: "))

if cost < 20000 :
    print("새벽 배송이 불가능 합니다.")
elif cost > 50000 :
    print("무료 배송입니다.")
else:
    print("배송비 2500원이 추가됩니다.")

구매 금액: 40000
배송비 2500원이 추가됩니다.

In [ ]:
score = int(input("점수를 입력하세요: "))

if 90 <= score :
    print("A등급입니다.")
elif 80 <= score :
    print("B등급입니다.")
elif 70 <= score :
    print("C등급입니다.")
else :
    print("F등급입니다.")

점수를 입ㄹ겨하세요: 100
A등급입니다.

In [ ]:
one = int(input("첫 번째 수: "))
two = int(input("두 번째 수: "))
three = int(input("세 번째 수: "))
temp = int

if one <= two :
    temp = two
if one >= two :
    temp = one
if temp >= three :
    print("가장 큰 수는", temp, "입니다.")
else :
    print("가장 큰 수는", three, "입니다.")

첫 번째 수: 13
두 번째 수: 22
세 번째 수: 47
가장 큰 수는 47 입니다.

In [ ]:
temper = int(input("온도를 입력하시오:"))

if temper < 0 :
    print("물의 상태는 고체입니다.")
elif 0 <= temper < 100 :
    print("물의 상태는 액체입니다.")
else :
    print("물의 상태는 기체입니다.")

온도를 입력하시오:100
물의 상태는 기체입니다.

In [ ]:
eng = int(input("영어 시험 점수를 입력: "))
math = int(input("수학 시험 점수를 입력: "))

if eng >= 80 and math >= 80:
    print("합격")
elif eng < 80 and math < 80 :
    print("탈락")
else :
    print("재시험 기회 제공")

영어 시험 점수를 입력: 55
수학 시험 점수를 입력: 55
탈락

In [ ]:
print("1: 매우만족     2: 만족     3: 불만족")
poll = int(input("서비스가 어떠셨나요(예: 1 또는 2 또는 3): "))
cost = int(input("음식 값을 입력해 주세요(예: 8000): "))

if poll == 3 :
    print(int(cost * (5 / 100)), "원")
elif poll == 2 :
    print(int(cost * 0.1), "원")
else :
    print(int(cost * (20 / 100)), "원")

1: 매우만족     2: 만족     3: 불만족
서비스가 어떠셨나요(예: 1 또는 2 또는 3): 2
음식 값을 입력해 주세요(예: 8000): 9000
900 원