<a href="https://colab.research.google.com/github/CatPope/Python/blob/main/20514%EC%A0%95%EB%8B%A4%EC%9A%B0_%EC%88%98%ED%96%89%ED%8F%89%EA%B0%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1page

In [1]:
# 1
print('I said "Hello" to you.')
print("Let's go.")

I said "Hello" to you.
Let's go.

In [2]:
#2
m = int(input("삼각형의 밑변의 길이 : "))
h = float(input("삼각형의 높이 : "))
print("삼각형의 면적 : ", (m*h/2))

삼각형의 밑변의 길이 : 10
삼각형의 높이 : 3
삼각형의 면적 :  15.0

In [15]:
#3
hour = int(input("현재 시 : "))
minut = int(input("현재 분 : "))
if 0 <= hour < 24 :
  if minut+20 > 60 :
    hour+=1
    print("20분 뒤에는", hour, "시", minut+20-60, "분입니다.")
  else :
    print("20분 뒤에는", hour, "시", minut+20, "분입니다.")
elif hour == 24 :
  if minut+20 > 60 :
    hour+=1
    print("20분 뒤에는 1시", minut+20-60, "분입니다.")
  else :
    print("20분 뒤에는 1시", minut+20, "분입니다.")

현재 시 : 23
현재 분 : 50
20분 뒤에는 24 시 10 분입니다.

In [20]:
#4
num = int(input("숫자 입력:"))

if num < 0 :
  num *= -1
print(num)

숫자 입력:5
5

In [24]:
#5
id = str(input("아이디를 입력하세요:"))
level = int(input("회원 레벨을 입력하세요:"))
if level==1 or id=='admin' :
  print("관리자 입니다.")
else :
  print("관리자가 아닙니다.")

아이디를 입력하세요:daf
회원 레벨을 입력하세요:1
관리자 입니다.

In [28]:
#6
max = 0
num1 = int(input("첫 번째 수:"))
num2 = int(input("두 번째 수:"))
num3 = int(input("세 번째 수:"))

if num1 > num2  and  num1 > num3 :
  max = num1
elif num2 > num1  and  num2 > num3 :
  max = num2
else :
  max = num3

print(max)

첫 번째 수:3
두 번째 수:3
세 번째 수:3
3

In [37]:
#7
age = int(input("나이 입력:"))
grade = ''

if 0 <= age <=7 :
  grade = '어린이'
elif 7 < age <= 13 :
  grade = '초등학생'
elif 13 < age <= 16 :
  grade = '중학생'
elif 16 < age <= 19 :
  grade = '고등학생'
elif 19 < age :
  grade = '성인'

print(grade)

나이 입력:-5

##2page

In [38]:
#8
age = int(input("점수 입력:"))
grade = ''

if 90 <= age :
  grade = 'A'
elif 80 <= age :
  grade = 'B'
elif 70 <= age :
  grade = 'C'
elif age < 70 :
  grade = 'F'

print(grade, "등급입니다.")

점수 입력:960
A 등급입니다.

In [42]:
#9
num = int(input("숫자 입력:"))

if num%3 == 0  and  num%5 == 0 :
  print("3과 5의 공배수")
elif num%3 == 0 :
  print("3의 배수")
else :
  print("3의 배수 아님")

숫자 입력:7
3의 배수 아님

In [46]:
#10
sum = 0 
for num in range(1, 10+1) :
  sum+=num
  print("num의 값 :", num, "=> 합계 :", sum)

num의 값 : 1 => 합계 : 1
num의 값 : 2 => 합계 : 3
num의 값 : 3 => 합계 : 6
num의 값 : 4 => 합계 : 10
num의 값 : 5 => 합계 : 15
num의 값 : 6 => 합계 : 21
num의 값 : 7 => 합계 : 28
num의 값 : 8 => 합계 : 36
num의 값 : 9 => 합계 : 45
num의 값 : 10 => 합계 : 55

In [50]:
#11
fac = 1
num = int(input("숫자 입력:"))

for i in range(1, num+1) :
  fac*=i
print(num, "! = ", fac, sep='')

숫자 입력:10
10! = 3628800

In [56]:
#12
import random

answer = random.randint(1, 100)
print(answer)
num = 0
cnt = 0

print("1부터 100사이 수 맞히기")
while answer != num :
  num = int(input("숫자를 맞혀 보세요 : "))
  if num < answer :
    print("낮음")
  elif num > answer :
    print("높음")
  cnt+=1
print("축하합니다. 시도횟수 =", cnt)

4
1부터 100사이 수 맞히기
숫자를 맞혀 보세요 : 5
높음
숫자를 맞혀 보세요 : 8
높음
숫자를 맞혀 보세요 : 100
높음
숫자를 맞혀 보세요 : 3
낮음
숫자를 맞혀 보세요 : 4
축하합니다. 시도횟수 = 5

##3page

In [59]:
#13
for i in range(1, 50+1) :
  if i%3 != 0 :
    print(i, end=' ')

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50