In [94]:
#llist
colors=['red', 'blue', 'green']
print(colors)
print(type(colors))
print(colors[1])

['red', 'blue', 'green']
<class 'list'>
blue

In [95]:
#1
price = [500, 5000, 8900, 1800, 2500]
fruit = ['사과', '파인애플', '수박']
print(price)
print(type(price))
print(fruit)
print(type(fruit))

[500, 5000, 8900, 1800, 2500]
<class 'list'>
['사과', '파인애플', '수박']
<class 'list'>

In [96]:
#2
fruit = ['사과', 1500, '수박', 8900]
print(fruit[0], "의 자료형은", type(fruit[0]), "이다.")
print(fruit[1], "의 자료형은", type(fruit[1]), "이다.")
print(fruit[2], "의 자료형은", type(fruit[2]), "이다.")
print(fruit[3], "의 자료형은", type(fruit[3]), "이다.")

사과 의 자료형은 <class 'str'> 이다.
1500 의 자료형은 <class 'int'> 이다.
수박 의 자료형은 <class 'str'> 이다.
8900 의 자료형은 <class 'int'> 이다.

In [97]:
#3
a = []
b  = []
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [98]:
#4
num = list(range(1, 21, 2))
a = list("Korea")
print(num)
print(type(num))
print(a)
print(type(a))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
<class 'list'>
['K', 'o', 'r', 'e', 'a']
<class 'list'>

In [99]:
#5
num = list(range(1, 21, 2))
a = list("Korea")
print(len(num))
print(len(a))

10
5

In [100]:
#6
score = [88, 95, 70, 100, 99]
print("학생 수는", len(score), "명 입니다.")
print("최고 점수는", max(score), "점 입니다.")
print("최저 점수는", min(score), "점 입니다.")

학생 수는 5 명 입니다.
최고 점수는 100 점 입니다.
최저 점수는 70 점 입니다.

In [101]:
#7
                score = [88, 95, 70, 100, 99]
                for i in range(5) :
                  print(score[i], end=' ')
                print("")
                for i in range(-1, -4, -1) :
                  print(score[i], end=' ')

88 95 70 100 99
99 100 70

In [102]:
#8
score = [88, 95, 70, 100, 99]
score[0] = 10
score[1] = 20
score[2] = 30
score[3] = 40
score[4] = 50
print(score)

[10, 20, 30, 40, 50]

In [103]:
#9
animal = ["토끼", "거북이", "사자", "호랑이"]

i = 0
while i <= 3 :
  print(animal[i])
  i+=1

토끼
거북이
사자
호랑이

In [104]:
#10
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[2 : 5])
print(nums[1 : 6 : 2])
print(nums[0 : 5 : 2])

[2, 3, 4]
[1, 3, 5]
[0, 2, 4]

In [105]:
#11
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[0 : 5])
print(nums[0 : 7 : 2])
print(nums[0 : 5 : 2])

[0, 1, 2, 3, 4]
[0, 2, 4, 6]
[0, 2, 4]

In [106]:
#12
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[2:])
print(nums[1 : : 2])
print(nums[0 : : 2])

[2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]

In [107]:
#13
nums = [0,1,2,3,4,5,6,7,8,9]
print(nums[2: 5])
print(nums[1 : 7])
print(nums[0 : 5])

[2, 3, 4]
[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4]

In [108]:
#14
fruit = ['사과', '오렌지', '딸기', '포도', '감', '키위', '멜론', '수박']
print(fruit[0])
print(fruit[1 : 5])
print(fruit[2 : ])
print(fruit[7])
print(fruit[4 : 6])
print(fruit[5 : 8])

사과
['오렌지', '딸기', '포도', '감']
['딸기', '포도', '감', '키위', '멜론', '수박']
수박
['감', '키위']
['키위', '멜론', '수박']

In [109]:
#15
print(list("Korea"))

['K', 'o', 'r', 'e', 'a']

In [110]:
#16
my_list = list("PythonIsFun!")
print(my_list[0 : ])
print(my_list[5 : 11])
print(my_list[7 : 10])
print(my_list[0 : 4])
print(my_list[8 : 12])

['P', 'y', 't', 'h', 'o', 'n', 'I', 's', 'F', 'u', 'n', '!']
['n', 'I', 's', 'F', 'u', 'n']
['s', 'F', 'u']
['P', 'y', 't', 'h']
['F', 'u', 'n', '!']

#24page

In [111]:
#17
s = "python"
print(s[2])
print(s[4])
print(s[1 : 4])

t
o
yth

In [112]:
#18
file = "20210505-104830.jpg"
print("촬영 날짜:", file[4 : 6], "월", file[6 : 8], "일")
print("촬영 시간:", file[-10 : -8], "시", file[-8 : -6], "분")
print("확장자:", file[-3 : ])

촬영 날짜: 05 월 05 일
촬영 시간: 10 시 48 분
확장자: jpg

In [113]:
#19
s = "차종: 코란도C, 제조사: 쌍용, 배기량: 1998"
print(s[15 : 17])

쌍용

In [115]:
#20
jumin = "901231-1914983"
year = jumin[0 : 2]
if jumin[6] == 2 :
  gender = "여자"
else :
  gender = "남자"
print("{}년생 {}입니다.".format(year, gender))

90년생 남자입니다.

In [121]:
#21
nums = [1, 2, 3, 4]
nums.append(5)
print(nums[0: ])
nums.insert(2, 99)
print(nums[0: ])

[1, 2, 3, 4, 5]
[1, 2, 99, 3, 4, 5]

In [125]:
#22
list1 = [1, 2, 3, 4, 5]
list2 = [10, 11]
list1.extend(list2)
print(list1[0 :])

[1, 2, 3, 4, 5, 10, 11]

In [ ]:
#23
score = [88, 95, 70, 100, 99]
print("100의 위치: ", )