##17page

In [ ]:
#ex9

i = 1
while i <= 20 :
  if i % 2 == 0 :
    print(i, end=' ')
  i+=1

2 4 6 8 10 12 14 16 18 20

In [ ]:
#ex10

i = 10
while i <= 50 :
  if i % 3 != 0 :
    print(i, end=' ')
  i+=1

10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50

In [ ]:
pw = ""

while pw != "python" :
  pw = input("암호 입력 :")

print("로그인 성공!")

암호 입력 :ㅇㅇ
암호 입력 :python
로그인 성공!

In [ ]:
#ex12

import random

cnt = 0
guess = 0
answer = random.randint(1, 100)

print("1부터  100사이의 숫자를 맞추기")

while guess != answer :
  cnt += 1
  guess = int(input("숫자를 맞춰 보세요 :"))
  if guess > answer :
    print("높음")
  elif guess < answer :
    print("낮음")

print("축하합니다.", "시도 횟수 =", cnt)

1부터  100사이의 숫자를 맞추기
숫자를 맞춰 보세요 :50
높음
숫자를 맞춰 보세요 :20
낮음
숫자를 맞춰 보세요 :30
낮음
숫자를 맞춰 보세요 :44
낮음
숫자를 맞춰 보세요 :49
높음
숫자를 맞춰 보세요 :48
높음
숫자를 맞춰 보세요 :46
높음
숫자를 맞춰 보세요 :45
축하합니다. 시도 횟수 = 8

#for문

###18page

In [ ]:
#ex1

for i in [1, 2 ,3] :
  print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [ ]:
#ex2

for i in range(10) :
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
#ex3

for i in range(1, 11) :
  print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
#ex4

for i in range(1, 11, 2) :
  print(i, end = ' ')

1 3 5 7 9

In [ ]:
#ex5

for i in range(20, 1, -2) :
  print(i, end = ' ')

20 18 16 14 12 10 8 6 4 2

In [ ]:
#ex6

for i in range(1, 4) :
  print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [ ]:
#ex7

for i in range(1, 5, 2) :
  a += i
print(i, end = ' ')

3

In [ ]:
#ex8

a = 10
for i in range(1, 4) :
  print(i,"번 학생의 성적처리")

1 번 학생의 성적처리
2 번 학생의 성적처리
3 번 학생의 성적처리

In [ ]:
#ex9

for i in range(0, 21, 2) :
  if i > 0 :
    print(i, end = ' ')

2 4 6 8 10 12 14 16 18 20

In [ ]:
#ex10

a = 2
for i in range(1, 10) :
  c = a * i
  print(a,"*", i, "=", c)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
#ex11

sum = 0
for i in range(1, 11) :
  sum += i
  print("i의 값 :", i, " =>  합계 :", sum)

i의 값 : 1  =>  합계 : 1
i의 값 : 2  =>  합계 : 3
i의 값 : 3  =>  합계 : 6
i의 값 : 4  =>  합계 : 10
i의 값 : 5  =>  합계 : 15
i의 값 : 6  =>  합계 : 21
i의 값 : 7  =>  합계 : 28
i의 값 : 8  =>  합계 : 36
i의 값 : 9  =>  합계 : 45
i의 값 : 10  =>  합계 : 55

In [ ]:
#ex12

even_sum = 0
for i in range(2, 101, 2) :
  even_sum += i
print("1~100까지의 even_sum =", even_sum)

1~100까지의 even_sum = 2550