In [ ]:
#1

t1 = ()
t2 = (1, )
t3 = (1,2,3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

In [ ]:
#2

tu = 2,
print(type(tu))
print(tu)

<class 'tuple'>
(2,)

In [ ]:
#3-1

tu = 1,2,3,4,5

print(tu[3])
print(tu[1:4])
print(tu + (6,7))
print(tu *2)

4
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
#3-2

tu[1] = 100
del tu[1]       ##값 변경 불가

TypeError: ignored

In [ ]:
#4
tu = "이순신", "김유신", "강감찬"
lee, kim, kang = tu
print(lee)
print(kim)
print(kang)

이순신
김유신
강감찬

In [ ]:
#5

a = 12
b = 34
print(a, b)

c = a
a = b
b = c
print(a, b)

12 34
34 12

In [ ]:
#6

a, b = 12, 34
print(a, b)

a, b = b, a
print(a, b)

12 34
34 12

In [ ]:
#6

import time

now = time.localtime()
print(now)
print(now.tm_hour)
print(now.tm_min)

time.struct_time(tm_year=2023, tm_mon=7, tm_mday=13, tm_hour=0, tm_min=22, tm_sec=5, tm_wday=3, tm_yday=194, tm_isdst=0)
0
22

In [ ]:
#7

d, m = divmod(7, 3)
print("몫", d)
print("나머지", m)

몫 2
나머지 1

In [ ]:
#8

score = [1, 2, 3, 4, 5]
print(type(score))
tu = tuple(score)
print(tu)
print(type(tu))
li = list(tu)
print(li)
print(type(score))

<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>
[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
#9

dic = {"boy" : "소년", "school" : "학교", "book" : "책"}
print(type(dic))
print(dic['boy'])
print(dic['school'])
print(dic['book'])

<class 'dict'>
소년
학교
책

In [ ]:
print(dic.keys())
print(type(dic.keys))
print(dic.values())
print(type(dic.values()))
print(dic.items())
print(type(dic.items()))

dict_keys(['boy', 'school', 'book'])
<class 'builtin_function_or_method'>
dict_values(['소년', '학교', '책'])
<class 'dict_values'>
dict_items([('boy', '소년'), ('school', '학교'), ('book', '책')])
<class 'dict_items'>

In [ ]:
print(sorted(dic))
print(dic)                  ##원본에 효과X

['book', 'boy', 'school']
{'boy': '소년', 'school': '학교', 'book': '책'}

In [ ]:
dic2 = sorted(dic.keys())
print(dic2)
print(dic)

['book', 'boy', 'school']
{'boy': '소년', 'school': '학교', 'book': '책'}

In [ ]:
dic3 = sorted(dic.values())
print(dic4)

['소년', '책', '학교']

In [ ]:
dic4 = sorted(dic.values(), reverse=True)
print(dic4)
print(dic)

['학교', '책', '소년']
{'boy': '소년', 'school': '학교', 'book': '책'}

In [ ]:
dic5 = sorted(dic.items())
print(dic5)

[('book', '책'), ('boy', '소년'), ('school', '학교')]

In [ ]:
dic6 = sorted(dic.items(), reverse=True)
print(dic6)

[('school', '학교'), ('boy', '소년'), ('book', '책')]

In [ ]:
import operator

dic7 = sorted(dic.items(), key=operator.itemgetter(1))
print(dic7)

[('boy', '소년'), ('book', '책'), ('school', '학교')]

In [ ]:
dic8 = sorted(dic.items(), key=operator.itemgetter(1), reverse=True)
print(dic8)

[('school', '학교'), ('book', '책'), ('boy', '소년')]

In [ ]:
dic = {"boy" : "소년", "school" : "학교", "book" : "책"}

for k in dic:
  print(k)

boy
school
book

In [ ]:
for k in dic.keys():
  print(k)

boy
school
book

In [ ]:
for k in dic.values():
  print(k)

소년
학교
책

In [ ]:
for k in dic:
  print(f"key:{k}, value:{dic[k]}")

key:boy, value:소년
key:school, value:학교
key:book, value:책

In [ ]:
for k in dic.items():
  print(k)

('boy', '소년')
('school', '학교')
('book', '책')

In [ ]:
for k, l in dic.items():
  print(k, l)

boy 소년
school 학교
book 책