In [3]:
#13
fact = 1
for i in range(1, 11) :
  fact = fact * i

print("10! =", fact)

10! = 3628800

In [9]:
five = 5
for i in range(1, 4) :
  for i in range(1, 8) :
    five = five + 5
    print(five, end=' ')
  print()

10 15 20 25 30 35 40
45 50 55 60 65 70 75
80 85 90 95 100 105 110

In [16]:
num = int(input("정수를 입력하시오 : "))
for i in range(1, 1+num) :
  if num % i == 0 :
    print(i, end =' ')

정수를 입력하시오 : 6
1 2 3 6

In [17]:
a = 0 
b = 1 
for i in range(1, 21) :
  print(a, end=' ')
  n = a+b
  a = b
  b = n

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [24]:
for x in range(1, 41) :
  if x % 10 == 0 :
    print('+', end='')
  else :
    print('-', end='')

---------+---------+---------+---------+

In [28]:
x = 1
while x <= 40 :
  if x % 10 == 0 :
    print('+', end='')
  else :
    print('-', end='')
  x+=1

---------+---------+---------+---------+

In [40]:
print("--------------------------------------")
print("센치(cm) 인치(inch) 피트(ft) 야드(yd)")
print("--------------------------------------")
for cm in range(10, 100+1, 10) :
  inch = cm * 0.393701
  ft = cm * 0.032808
  yd = cm * 0.010936
  print("%7d %8.1f %8.1f %8.1f" %(cm, inch, ft, yd))
print("--------------------------------------")

--------------------------------------
센치(cm) 인치(inch) 피트(ft) 야드(yd)
--------------------------------------
     10      3.9      0.3      0.1
     20      7.9      0.7      0.2
     30     11.8      1.0      0.3
     40     15.7      1.3      0.4
     50     19.7      1.6      0.5
     60     23.6      2.0      0.7
     70     27.6      2.3      0.8
     80     31.5      2.6      0.9
     90     35.4      3.0      1.0
    100     39.4      3.3      1.1
--------------------------------------

In [41]:
for i in range(1, 1000+1) :
  print(i, end = ' ')
  if i == 10 :
    break

1 2 3 4 5 6 7 8 9 10

In [46]:
score = [92, 86, 68, 120, 56, 72]
for i in range(0, 5+1) :
  if score[i] > 100 :
    break
  print(score[i])
print("성적 처리 끝!")

92
86
68
성적 처리 끝!

In [47]:
score = [92, 86, 68, 120, 56, 72]
for i in range(0, 5+1) :
  if score[i] > 100 :
    continue
  print(score[i])
print("성적 처리 끝!")

92
86
68
56
72
성적 처리 끝!

In [48]:
print("3 + 4 = ?")

while True :
  a = int(input("정답을 입력하시오 : "))
  if a == 7 :
    break
print("참 잘했어요~")

3 + 4 = ?
정답을 입력하시오 : 5
정답을 입력하시오 : 7
참 잘했어요~

In [49]:
while True :
  light = input("신호등 색상 입력 : ")
  if light == "green" :
    break
print("길을 건너세요")

신호등 색상 입력 : ㅇ
신호등 색상 입력 : green
길을 건너세요

In [53]:
i = 1
total = 0

while True :
  total += i
  if total > 50 :
    print("합이 50보다 커지는 수는 %d이고 합은 %d이다." % (i, total))
    break
  i+=1

합이 50보다 커지는 수는 10이고 합은 55이다.

In [ ]:
for dan in range(2, 10) :
  print(dan, "단")
  for hang in range(2, 10) :
    print(dan, "*", hang, "=", dan * hang)

In [ ]:
dan = 2
while dan <= 9 :
  hang = 1
  print(dan, "단")
  while hang <= 9 :
    print(dan, "*", hang, "=", dan*hang)
    hang+=1
  dan += 1
  print()

In [60]:
for y in range(1, 6) :
  for x in range(1, y+1) :
    print('*', end='')
  print()

*
**
***
****
*****

In [63]:
for i in range(7) :
  for j in range(7) :
    if (i==j) | (i+j == 6) :
      print('*', end='')
    else :
      print(' ', end='')
  print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [73]:
cnt = 0
n = int(input('수 입력 : '))

for i in range(2, n+1) :
  pn = 1
  for j in  range(2, i) :
    if i%j == 0 :
      pn = 0
  if pn == 1 :
    print('{:>5}'.format(i), sep = '', end = ' ')
    cnt += 1
    if cnt % 5 ==0:
      print()

수 입력 : 50
    2     3     5     7    11
   13    17    19    23    29
   31    37    41    43    47