#함수

In [ ]:
def Hi():
  print("Hello World!")

Hi()

Hello World!

In [ ]:
def triangle():
  for i in range(5):
    for j in range(i+1):
      print('*', end='')
    print()
triangle()

*
**
***
****
*****

In [ ]:
def name(name):
  print(f"내 이름은 {name}야. 만나서 반가워")
name("채송화")
name("아이유")

내 이름은 채송화야. 만나서 반가워
내 이름은 아이유야. 만나서 반가워

In [ ]:
def even(a):
  if a%2 == 0:
    print("짝수")
  else:
    print("홀수")
even(11)

홀수

In [ ]:
def triangle(n):
  for i in range(n):
    for j in range(i+1):
      print('*', end='')
    print()
triangle(3)

*
**
***

In [ ]:
def print_n_times(value, n):
  for i in range(n):
    print(value)
print_n_times("안녕하세요", 2)
print_n_times("반가워요", 3)

안녕하세요
안녕하세요
반가워요
반가워요
반가워요

In [ ]:
def abg(a, b, c):
  sum = a+b+c
  print(sum/3)
abg(3, 5, 10)

6.0

In [ ]:
import random

def dice_n_times(n):
  for i in range(n):
    k = rangdom.randint(1,6)
    print(i+1, "번 째 주사위 굴린 결과:", k)

dice_n_times

In [ ]:
def intsum(*ints):
  sum = 0
  for i in ints:
    sum+=i
  return sum
print(intsum(1,2,3))
print(intsum(5,7,9,11,13))
print(intsum(8,9,6,2,9,7,5,8))

6
45
54

In [ ]:
def print_n_times(n, *values):
  for i in range(n):
    for value in values:
      print(value, end=' ')
    print()
print_n_times(3, "안녕하세요", "즐거운", "파이썬")

안녕하세요 즐거운 파이썬
안녕하세요 즐거운 파이썬
안녕하세요 즐거운 파이썬

In [ ]:
def add_mul(choice, *args):
  if choice == "add":
    result = 0
    for i in args:
      result += i
  elif choice == "mul":
    result = 1
    for i in args:
      result *= i
  print(result)
add_mul("add", 1, 2, 3, 4, 5)
add_mul("mul", 1, 2, 3, 4, 5)

15
120

In [ ]:
def star(a, *arges):
  for i in arges:
    for j in range(int(i)):
      print(a, end='')
    print()
star('*', 3, 5, 2)

***
*****
**

In [ ]:
def print_n_times(value, n=2):
  for i in range(n):
    print(value)
print_n_times("안녕하세요")
print_n_times("안녕히 가세요", 3)

안녕하세요
안녕하세요
안녕히 가세요
안녕히 가세요
안녕히 가세요

In [ ]:
def calcstep(begin, end, step=1):
  sum = 0
  for num in range(begin, end+1, step):
    sum+=num
  print(f"{begin}부터 {end}까지의 숫자 중 {step}간격씩 더한 값은 {sum}")
calcstep(1,100,1)
calcstep(1,100)

1부터 100까지의 숫자 중 1간격씩 더한 값은 5050
1부터 100까지의 숫자 중 1간격씩 더한 값은 5050

In [ ]:
def fn(a, b, c, d, e):
  print(a, b, c, d, e)
fn(1,2,3,4,5)
fn(a=1, b=2, c=3, d=4, e=5)
fn(e=5, b=2, d=4, c=3, a=1)

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
def return_test():
  print("A위치 입니다.")
  return
  print("B위치 입니다.")
return_test()

A위치 입니다.

In [ ]:
def return_test():
  return 100
value = return_test()
print(value)

100

In [ ]:
def add(a, b):
  return a+b
value = add(123, 300)
print(value)

423

In [ ]:
def big(a, b):
  if a>b:
    return a
  else:
    return b
value = big(5, 11)
print(value)

11

In [ ]:
def sum_to_n(n):
  sum = 0
  for i in range(1, n+1):
    sum+=i
  return sum
sum_to_n(10)

55

In [ ]:
def min(*numbers):
  min_value = numbers[0]
  for num in numbers:
    if min_value > num:
      min_value = num
  return min_value
result = min(5, 2, 7, 4)
print("최소값:", result)

최소값: 2

In [ ]:
def multi_num(num, start, end):
  result = []
  for n in range(start, end+1):
    if n%num == 0:
      result.append(n)
  return result
mult = multi_num(17, 1, 200)
print(mult)

[17, 34, 51, 68, 85, 102, 119, 136, 153, 170, 187]

In [ ]:
def min_max(*args):
  min = args[0]
  max = args[0]
  for arg in args:
    if min > arg:
      min = arg
    if max < arg:
      max = arg
  return min, max
min, max = min_max(52, -3, 23, 89, -21)
print(f"최소 : {min}, 최대 : {max}")

최소 : -21, 최대 : 89

In [ ]:
import random

def position(number, title, column):
  print(title)
  students = list(range(1, number+1))
  random.shuffle(students)
  pos = ""
  for i in range(0, number):
    if students[i] < 10:
      pos = pos + "0" + str(students[i]) + "번\t"
    else:
      pos = pos + str(students[i]) + "번\t"
    if (i+1) % column == 0:
      pos = pos + "\n"
  print(pos)

position(20, title='3-2반', column=5)

3-2반
10번	02번	01번	17번	05번
04번	06번	09번	13번	19번
14번	03번	20번	12번	07번
15번	11번	18번	16번	08번